#characterList {
    padding: 10px o !important;
    margin: 10px !important;
    border: 1px solid var(--dark2) !important;
    border-radius: 5px !important;
    color: var(--dark2) !important;
    background-color: var(--light2) !important;
    font-weight: bold !important;
  }